.white {
    color: white;
}

.card-header {
    text-align: center;
}

.card-footer {
    text-align: right;
}

:root {
    --neon-green: #7FFF00;
    --neon-pink: #FF1493;
    --neon-purple: #8A2BE2;
    --neon-cyan: #7DF9FF;
    --neon-blue: #0B36C3;
    --neon-red: #FF3A40;
    --neon-orange: #FF6731;
    --neon-yellow: #FCF133;
}